.score {
    width: 630px;
    margin: 30px auto;
    margin-bottom: -20px;
}

#playground {
    width: 630px;
    height: 630px;
    background-color: black;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.game-board {
    position: relative;
}

.bottoni {
    width: 630px;
    margin: 30px auto;

}

button {
    margin: 0 auto;
    display: block;
}

.square {
    border: 2px solid white;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.active {
    background-color: aquamarine;
}

.end-game-screen {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.win {
    background-image: url(https://images7.alphacoders.com/546/thumbbig-546701.webp);
}

.end-game-text {
    font-size: 48px;
    line-height: 1.2;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 16px;
}

h2 {
    font-size: 3em;
    font-weight: 900;
}

.square-bomb {
    background-color: red;
    color: black;
}

select {
    color: black;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}